In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# see https://github.com/mwaskom/seaborn-data for list of datasets

df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
# Store to hdf5

name = "DataFrame"
file = "test.h5"

with pd.HDFStore(file) as store:
    store[name] = df

In [4]:
# read from hdf5
with pd.HDFStore(file) as store:
    print("Stored objects:")
    for k in store:
        print(f"  {k}")

    df = store[name]

df.head()

Stored objects:
  /DataFrame

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009